{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<section class="centered-container">
    <header>
        <h1 style="color: #212121">{% trans "Welcome to the Music Catalogue" %}</h1>
    </header>

    <p>{% trans "Where we EMBARK on a musical journey with Music Maestro - where every note and key finds its digital home and resting place on our sleek page" %}</p>

    <p>{% trans "Discover a vast collection of genres, from classical symphonies to cutting-edge electronic beats like Hiphop. Our Music Catalogue is a treasure trove for music enthusiasts and also music lovers at large, allowing you to explore and indulge in the rich tapestry of sounds from around the world." %}</p>

    <p>{% trans "Whether you're a fan of timeless classics or on the lookout for the latest hits or next big thing from the underground, Music Maestro has you covered. Dive into our meticulously curated playlists.." %}</p>

    <p>{% trans "Ready to take control of your musical exploration existence? Sign up for a Music Maestro account today and unlock personalized recommendations, create your playlists, and therefore join a global community that shares your passion for music." %}</p>
</section>
{% endblock %}
